*{
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background-color: black;
}
a, button{
    cursor: pointer;
}
article h1{
    font-size: 30px;
}
article h2{
    font-size: 25px;
}
article p{
    font-size: 20px;
}
article #profile-image-container::after{
    content: '';
    display: block;
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 5px dashed #14ffec;
}
